.divfondo{
    
}

.div01{
    position: relative;
    display: inline-block;
    top: 1000px;
    height: 100px;
    width: 100px;
}

.div02{
    position: absolute;
    display: inline-block;
    height: 100px;
    width: 100px;
}