div{
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: blue;
}
.estatico{
    position: static;
    background-color: blueviolet;
}

/* Todos los elementos de posición (excepto static) permiten agregar 4 funcionalidades:
1. Top
2. Bottom
3. Right
4. Left*/
.relativo{
    /*  */
    position: relative;
    top: 50px;
    left: 50px;
    background-color: blueviolet;
}
.absoluta{
    /* absolute hace perder su posición original al elemento y tome a boyd como sus límites */
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: blueviolet;
}
.divrelativo{
    display: relative;
    background-color: green;
}